{% load static %}
<html>
<head>
    <title>Apartment Details</title>
    <link rel = "stylesheet", href = "{% static '/app/style.css'%}">
</head>    
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/search">Search Apartments</a>
        <a href="/users">Users</a>
    </div>

    <h2>Details for Apartment {{ apt.0 }}</h2>
    <a href="/search">Back to list of apartments</a>
    <br/><br/>


    <table style='text-align:left'>
        <tr>
            <th>Host</th>
            <td>:</td>
            <td> {{ apt.1 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ apt.2 }} </td>
        </tr>
        <tr>
            <th>City</th>
            <td>:</td>
            <td> {{ apt.3 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ apt.4 }} </td>
        </tr>
        <tr>
            <th>Number of guests allowed</th>
            <td>:</td>
            <td> {{ apt.5 }} </td>
        </tr>
        <tr>
            <th>Number of beds</th>
            <td>:</td>
            <td> {{ apt.6 }} </td>
        </tr>
        <tr>
            <th>Number of bathrooms</th>
            <td>:</td>
            <td> {{ apt.7 }} </td>
        </tr>
        <tr>
            <th>Property type</th>
            <td>:</td>
            <td> {{ apt.8 }} </td>
        </tr>
        <tr>
            <th>Amenities</th>
            <td>:</td>
            <td> {{ apt.9 }} </td>
        </tr>
        <tr>
            <th>House rules</th>
            <td>:</td>
            <td> {{ apt.10 }} </td>
        </tr>
        <tr>
            <th>Price per night</th>
            <td>:</td>
            <td> {{ apt.11 }} </td>
        </tr>
        <tr>
            <th>Overall rating</th>
            <td>:</td>
            <td> {{ apt.13 }} </td>
        </tr>
        <tr>
            <button>Book Apartment (to implement)</button>
        </tr>
    </table>

</body>
</html>