{% load static %}
<html>
<head>
    <title>Homepage</title>
</head> 
<body>
    <h2>Search for Apartments</h2>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->

        <div id="div_id_country" class="control-group">
            <label for="id_country" class="control-label requiredField">
                Country
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="text" name="country" 
                    maxlength="16" class="textinput textInput" 
                    required="" id="id_country">
            </div>
        </div>


        <div id="div_id_city" class="control-group">
            <label for="id_city" class="control-label requiredField">
                City
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="text" name="city" 
                    maxlength="32" class="textinput textInput" 
                    required="" id="id_city">
            </div>
        </div>


        <div id="div_id_num_guests" class="control-group">
            <label for="id_num_guests" class="control-label requiredField">
                Number of Guests
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="number" name="city" 
                    class="textinput textInput" 
                    min="1" step="1"
                    required="" id="id_num_guests">
            </div>
        </div>



        <br>
        <button type="submit" name=action value="Search">Search</button>
    </form>



    <h2>Users in the App</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add">New user</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </thead>
        {% for user in records %}
        <tr>
            <td> {{ user.2 }} </td>
            <td> {{ user.0 }} </td>
            <td> {{ user.1 }} </td>
            <td>
                <a href="view/{{ user.2 }}"><button>View</button></a> |

                <a href="checkpw/{{ user.2 }}"><button>Edit</button></a> |

                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ user.2 }}"/>
                <button
                    onclick="return confirm('Are you sure you want to delete {{ user.2 }}?');" 
                    type="submit" name="action" value="delete">Delete</button> 
              </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
