{% load static %}
<html>
<body>
    <h2>Users in the App</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add">New user</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </thead>
        {% for user in records %}
        <tr>
            <td> {{ user.3 }} </td>
            <td> {{ user.0 }} </td>
            <td> {{ user.1 }} </td>
            <td>
                <a href="view/{ user.3}}"><button>View</button></a> | 
                <a href="edit/{ user.3}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{ user.3}}"/>
                <button onclick="return confirm('Are you sure you want to delete { user.3}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
