{% load static %}
<html>
<head>
    <title>Search Results</title>
</head> 
<body>
    <h2>Search for Apartments</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->

        <div id="div_id_country" class="control-group">
            <label for="id_country">
                Country
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="text" name="country" 
                    maxlength="16" class="textinput textInput" 
                    required="" id="id_country">
            </div>
        </div>


        <div id="div_id_city" class="control-group">
            <label for="id_city">
                City
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="text" name="city" 
                    maxlength="32" class="textinput textInput" 
                    required="" id="id_city">
            </div>
        </div>


        <div id="div_id_num_guests" class="control-group">
            <label for="id_num_guests">
                Number of Guests 
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="number" name="num_guests" 
                    class="textinput textInput" 
                    min="1" step="1"
                    required="" id="id_num_guests">
            </div>
        </div>



        <br>
        <a href="">
            <button type="submit" name=action value="Search">Search</button>
        </a>
    </form>


    
    <h2>Search Results</h2>
    <br/>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Guests</th>
            <th>Beds</th>
            <th>Bathrooms</th>
            <th>Property Type</th>
            <th>Amenities</th>
            <th>House Rules</th>
            <th>Price</th>
        </thead>
        {% for apartment in records %}
        <tr>
            <td> {{ apartment.2 }} </td>
            <td> {{ apartment.3 }} </td>
            <td> {{ apartment.5 }} </td>
            <td> {{ apartment.6 }} </td>
            <td> {{ apartment.7 }} </td>
            <td> {{ apartment.8 }} </td>
            <td> {{ apartment.9 }} </td>
            <td> {{ apartment.10 }} </td>
            <td> {{ apartment.11 }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>