<html>
<head>
    <title>User Details</title>
</head>    
<body>
    <h2>Details for {{user.0}} {{user.1}}</h2>
    <a href="/users">Back to List of Users</a>
    <br/><br/>


    <table style='text-align:left'>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ user.2 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ user.0 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ user.1 }} </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>:</td>
            <td> {{ user.4 }} </td>
        </tr>
        <tr>
            <th>Date of registration</th>
            <td>:</td>
            <td> {{ user.5 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ user.6 }} </td>
        </tr>
    </table>

    <br/><br/>

    <h2>Rental History</h2>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
            <th>Rating</th>
        </thead>
        {% for rental in records %}
        <tr>
            <td> {{ rental.2 }} </td>
            <td> {{ rental.3 }} </td>
            <td> {{ rental.14 }} </td>
            <td> {{ rental.15 }} </td>
            <td> {{ rental.17 }} </td>
            <td> {{ rental.18 }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>